

::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
    background-color: #e50001;
}

::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected {
    color:  black;
}

::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup.ng-option-selected {
    color: black;
}

