<section id="vacature" *ngIf="vacature != null">
  <div class="container jumbotron empty-office">
    <a
      ><h1 class="rood">{{ vacature.title }}</h1>
      <h4>{{ vacature.companyName }} | {{ vacature.address }}</h4>
      <h6>{{ "detail.datum" | translate }} {{ vacature.calculateDate() }}</h6>
    </a>
    <hr />
    <p class="lead">
      {{ vacature.description }}
    </p>
    <div class="flex">
      <button *ngIf="hasBijlage"
        class="btn btn-primary"
        role="button"
        (click)="startDownload()"
        (click)="getUserCV()"
        (click)="openSnackBar()"
      >
        {{ "detail.bijlage" | translate }}
      </button>
      <button
        class="btn btn-primary"
        *ngIf="currentUser && currentUser.role == 'User'"
        (click)="openDialog()"
      >
        {{ "detail.solliciteer" | translate }}
      </button>
    </div>
  </div>
</section>
<div *ngIf="loading" class="loader">
  <img src="../../assets/images/loading.gif" alt="loading ..." class="loadspinner"/>
</div>
<!-- <button (click)=" testgeg()">test</button> -->

<!--<a href="../EmptyOffice.jpg">Open image</a>
<div style="background-image:url('../EmptyOffice.jpg');"></div>-->
