.flex {
  display: flex;
  justify-content: space-between;
}

.rood {
  color: #e50001;
}

#vacature .btn-primary {
  box-shadow: none;
  padding: 8px 25px;
  border: none;
  border-radius: 40px;
  background: #e50001;
  transition: transform 0.2s;
}

.btn-primary:hover {
  transform: scale(1.1);
}

#vacature {
  padding-top: 50px;
}

#vacature p {
  padding-top: 30px;
  padding-bottom: 35px;
}

#vacature .jumbotron {
  background: rgba(245, 241, 241, 0.699);
}

.jumbotron {
  padding-top: 1rem;
}

.loader{
  height:100%;
  padding-top: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.loadspinner{
  width: 100px;
}

 ::ng-deep .mat-snack-bar-container {
  background: #e50001;
  color: white;
 }

 ::ng-deep .mat-button-wrapper {
  color: white;
 }

