<section id="vacature">
    <div class="container jumbotron empty-office">
      <a><h1 class="rood">Titel vacature</h1><h4>Naam bedrijf en adres</h4></a>
      <hr>
      <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit 
        esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in 
        culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <div class="flex">
        <a class="btn btn-primary" href="#" role="button">Open bijlage</a>
        <a class="btn btn-primary" href="#" role="button">Solliciteer nu!</a>
      </div>
    </div>
</section>

<!--<a href="../EmptyOffice.jpg">Open image</a>
<div style="background-image:url('../EmptyOffice.jpg');"></div>-->