.flex
{
    display: flex;
    justify-content:space-between;
}

.rood
{
    color:#E50001;
}

#vacature .btn-primary
{
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 40px;
    background: #E50001;
}

#vacature
{
    padding-top: 50px;
}


#vacature p
{
    padding-top: 30px;
    padding-bottom: 35px;
}

#vacature .jumbotron
{
    background: rgba(245, 241, 241, 0.699)
}

