<section id="profiel">
    <div class="container jumbotron ruimte">
      <h1 class="rood">{{"profiel.profiel" | translate}}</h1>
      <hr>
    <form class="simple-form" [formGroup]="updateForm" (ngSubmit)="onSubmit()">
      <div class="row ruimte">
          <div *ngIf="isStudent" class="col-md-6 mb-3">
            <label><h5>{{"register.voornaam" | translate}}</h5></label>
            <input type="text" class="form-control" formControlName="firstName"
                   placeholder="Voornaam"/>
          </div>
          <div *ngIf="isStudent" class="col-md-6 mb-3">
            <label><h5>{{"register.famnaam" | translate}}</h5></label>
            <input type="text" class="form-control"
                   formControlName="lastName"
                   placeholder="Familienaam"/>
          </div>
      </div>

      <div *ngIf="!isStudent" class="form-label-group ruimte">
        <label><h5>{{"register.companyName" | translate}}</h5></label>
        <input type="text" class="form-control"
                   formControlName="companyName"/>
      </div>

      <div class="form-label-group ruimte">
        <label><h5>{{"register.email" | translate}}</h5></label>
        <input type="text" class="form-control" formControlName="email"
                   placeholder="Email Address" required readonly="true"/>
      </div>

      <div *ngIf="!isStudent" class="form-label-group ruimte">
        <label><h5>{{"register.website" | translate}}</h5></label>
        <input type="text" class="form-control" formControlName="website">
      </div>



      <div *ngIf="!isStudent" class="form-label-group ruimte">
        <label><h5>{{"register.adres" | translate}}</h5></label>
        <input type="text" class="form-control" value="" formControlName="address"
        placeholder="Address" 
        />
      </div>

      <div *ngIf="!isStudent" class="form-label-group ruimte">
        <label><h5>{{"register.adres" | translate}}</h5></label>
        <input type="text" class="form-control" formControlName="address">
      </div>
      
      <div class="ruimtebtn">
        <button class="btn btn-lg btn-primary" type="submit">Opslaan</button>
      </div>
      </form>

    </div>
</section>
