.ruimte
{
    padding-top: 20px;
}

.ruimtebtn
{
    padding-top: 40px;
}
.rood
{
    color:#E50001;
}

#profiel h1
{
    padding-top: 50px;
}


#profiel .jumbotron
{
    background: rgba(245, 241, 241, 0.699)
}

#profiel .btn-primary
{
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 40px;
    background: #E50001;
}