<section id="profiel">
    <div class="container jumbotron ruimte">
      <h1>{{"resetww.titel" | translate}}</h1>
      <hr>
      <form class="simple-form" [formGroup]="passwordForm" (ngSubmit)="onSubmit()"> 
        <div class="form-label-group ruimte">
            <label><h5>{{"resetww.nieuwww" | translate}}</h5></label>
            <input type="text" class="form-control"
                       formControlName="wachtwoord"
                       placeholder='{{"resetww.nieuwww" | translate}}' required/>
          </div>
          <div class="form-label-group ruimte">
            <label><h5>{{"resetww.bevestigww" | translate}}</h5></label>
            <input type="text" class="form-control"
                       formControlName="confirmWachtwoord"
                       placeholder='{{"resetww.bevestigww" | translate}}' required/>
          </div>
          <br>
          <div class="ruimtebtn">
            <button class="btn-verzenden" type="submit">{{"resetww.verzenden" | translate}}</button>
          </div>
      </form>
    </div>
</section>