<section id="profiel">
    <div class="container jumbotron ruimte">
      <h1 class="rood">Profiel</h1>
      <hr>
      <form class="simple-form" [formGroup]="passwordForm" (ngSubmit)="onSubmit()"> 
        <div class="form-label-group ruimte">
            <label><h5>Nieuwe Wachtwoord</h5></label>
            <input type="text" class="form-control"
                       formControlName="wachtwoord"
                       placeholder="Nieuwe Wachtwoord"/>
          </div>
          <div class="form-label-group ruimte">
            <label><h5>Confirm Wachtwoord</h5></label>
            <input type="text" class="form-control"
                       formControlName="confirmWachtwoord"
                       placeholder="Confirm Wachtwoord"/>
          </div>
          <div class="ruimtebtn">
            <button class="btn btn-lg btn-primary" type="submit">Verzenden</button>
          </div>
      </form>
    </div>
</section>