html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
  padding-top: -40px;
}

a.text-muted
{
    display: flex;
    margin-bottom: 5px;
}

.material-icons
{
    margin-right: 5px;
}