<footer id="sticky-footer" class="py-5 bg-dark text-white-50">
    <div class=" container row mx-auto">

        <div class="col-6 col-md">
            <h5>Young Potentials</h5>
            <ul class="list-unstyled text-small">
              <li>
                <a class="text-muted">Wij brengen aanstormend talent in contact met het werkveld én omgekeerd!</a>
              </li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Bedrijven</h5>
            <ul class="list-unstyled text-small">
              <li>
                <a routerLink="/vacture-toevoegen" routerLinkActive="active"  class="text-muted">Vacature toevoegen</a>
              </li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Studenten</h5>
            <ul class="list-unstyled text-small">
              <li>
                <a class="text-muted">Overzicht vacatures</a>
              </li>
              <li>
                <a class="text-muted">Stages</a>
              </li>
              <li>
                <a class="text-muted">Vakantiejobs</a>
              </li>
              <li>
                <a class="text-muted">Vrijwilligerswerk</a>
              </li>
              <li>
                <a class="text-muted">Navorming</a>
              </li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Contact</h5>
            <ul class="list-unstyled text-small">
              <li>
                <a class="text-muted"><i class="material-icons icon">call</i> 056 26 41 60 Kortrijk</a>
              </li>
              <li>
                <a class="text-muted"><i class="material-icons icon">call</i> 050 30 51 00 Brugge</a>
              </li>
              <li>
                <a class="text-muted"><i class="material-icons icon">email</i> info@vives.be</a>
              </li>
              <li>
                <a class="text-muted"><i class="material-icons icon">public</i> vives.be</a>
              </li>
            </ul>
        </div>
        <div class="col-12 col-md text-center">
            <img src="../../assets/images/vives_logo.png">
            <small class="d-block mb-3 text-muted">&copy; 2019-2020</small>
        </div>
    </div>
</footer>


  