/* Declaraties colors */

$rood: #e50001;
$wit: white;
$grijs: gray;

.navbarRegistreerDropdown {
  justify-content: flex-end;
}

.vives_logo {
  color: $wit;
  width: 50px;
  height: 60px;
  background-image: url("../../assets/images/vives_logo.png");
  background-size: 50px;
  background-repeat: no-repeat;
  text-align: center;
  margin: 4px 20px 0 10px;
  display: block;
}

.navbar-toggler.hamburger {
  border-color: transparent;
}

.registrerenbtnwrapper {
  display: inline-block;
  margin-right: 15px;
}
.registreermenu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin-right: 20px;
}
.registreerdiv {
  display: flex;
  width: 210px;
  justify-content: flex-end;
}

.registrerenbtn {
  cursor: pointer;
  display: block;
  border-radius: 20px;
  background-color: $rood;
  color: $wit;
  padding: 0px 10px;
  line-height: 28px;
  transition: transform 0.2s;
}

.registrerenbtn:hover {
  color: $wit;
  transform: scale(1.1);
  text-decoration: none;
}
.registrerenbtn:focus {
  color: $wit;
  text-decoration: underline;
}

/* Dropdown taalmenu */
.nav-link.taalselect {
  background-color: $grijs;
  border-radius: 50px;
  font-size: 12px;
  color: $wit;
  width: 34px;
  text-align: center;
}
.nav-link.taalselect::after {
  display: none;
}
.nav-link.taalselect:hover {
  color: $wit;
  text-decoration: underline;
}
.nav-link.taalselect:focus {
  color: $wit;
  text-decoration: underline;
}
.dropdown-taalselect {
  width: 50px;
  min-width: 0;
}
.dropdown-taal {
  padding: 2.5px 5px;
}
.wrappertaalmenu {
  position: absolute;
  width: 75px;
  height: 140px;
  right: 13px;
  top: 15px;
}

.profiel-bewerken{
  color:black
}

@media only screen and (max-width: 992px) {
  .registreermenu {
    margin: 20px auto 10px;
  }
  .taaldropdown {
    margin-top: 10px;
  }
  #navbarDropdownTaalMenuLink {
    margin: 0 auto;
  }
  .registreerdiv{
    justify-content: center;
  }
  .registrerenbtnwrapper{
    margin-right: initial;
  }
}

.c {
  margin-bottom: 150px;
}
