<div class="wrapper">
	<div class="content-wrap">

		<div class="map-wrap">
            <iframe id="google-map" frameborder="0" height="550" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2521.3636181210945!2d3.2819580159210235!3d50.80590136956951!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c33b36bed42563%3A0x78da70272b9a1e28!2sKatholieke%20Hogeschool%20KATHO%2C%20Doorniksesteenweg%20145%2C%208500%20Kortrijk!5e0!3m2!1snl!2sbe!4v1584006866254!5m2!1snl!2sbe" style="border:0" width="100%"></iframe>
        </div>
		<div class="layout-center">


      <div class="form-wrap">
        <div class="form-block col-md-12">
          <h2 class="sub-title">Neem contact met ons op</h2>
          <form action="" class="contact">
            <div class="form-item">
              <label for="">Volledige naam</label>
              <input type="text">
             </div>
             <div class="form-item">
              <label for="">Emailadres</label>
              <input type="text">
             </div>
            <div class="form-item">
              <label for="">Onderwerp</label>
              <input type="text">
             </div>
            <div class="form-item">
              <label for="">Bericht</label>
              <textarea id="edit-message" name="message" rows="5" cols="60" class="form-textarea required resize-vertical"></textarea>
             </div>
            <div class="form-item">
              <!-- <button class="btn-login"  type="submit" name="op" value="verzenden">Verzenden</button> -->
              <button class="btn btn-verzenden" type="submit">Verzenden</button>
            </div>
            </form>
          </div>
        <div class="address-block col-md-12">
          <h2 class="sub-title">Contact Info</h2>
          <ul>
            <li>Doorniksesteenweg 145, 8500 Kortrijk</li>
            <li>info@vives.be</li>
          </ul>
        </div>
      </div>
		</div>
		
	</div>
</div>

