
<div class="container">
    <div class="row vacaturebody">
        <div class="col-lg-5">
            <app-vacture-filter  (filterEvent)="handleFilter($event)" ></app-vacture-filter>
        </div>
        <div class="text-center col-lg-7">
            <div *ngIf="loadingFilter">
                <div *ngIf="!currentUser || currentUser.role != 'User'" class="alert alert-warning" role="alert">
                    <p class="removeMarginbottom">{{favoriteError}}</p>
                </div>
                <ng-container *ngFor="let vacature of pageOfItems" >
                    <ng-container *ngIf="vacature.vacature.description != null">
                        <app-vacture-item [favorite]="vacature" (removeEvent)="removeEventAbstract($event)"   [currentUser]="currentUser" ></app-vacture-item>
                    </ng-container>
                </ng-container>
                <div>
                    <jw-pagination [items]="items" (changePage)="onChangePage($event)"></jw-pagination>
                </div>
            </div>
            <div *ngIf="!loadingFilter && !loading" class="alert alert-danger" role="alert">
                <p class="removeMarginbottom">Er zijn geen openstaande vacatures te vinden.</p>
            </div>
            
            <div *ngIf="loading" class="loader">
                <img src="../../assets/images/loading.gif" alt="loading ..." class="loadspinner"/>
            </div>
        </div>
    </div>
</div>

