$red: #e50001;

.loader{
    height:100%;
    padding-top: 50px;
    justify-content: center;
    align-items: center;
}
.loadspinner{
    width: 100px;
}
.vacaturebody{
    min-height: 550px;
}
.paging-center{
    display:flex;
    justify-content: center;
}

.container{
}

.sorting-wrapper{
    display: flex;
    justify-content: flex-end;
}

/* to change selected item color in the select list */
::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled){
    color:$red;
}

/* to change arrow when focused */
::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow{
    color: $red;
}

/* to change underline when focused */
::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple{
    background-color: $red;
}