<div class="container">
    <div class="sorting-wrapper">
        <mat-form-field>
            <mat-select [(value)]="selectedSorting" (selectionChange)="sortingChange()">
                <mat-option value="dateAscend">Datum oplopend</mat-option>
                <mat-option value="dateDescend">Datum aflopend</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    
    <div class="row vacaturebody">

        <div class="col-lg-5">
            <app-vacture-filter (filterEvent)="handleFilter($event)" [height]='viewHeight'></app-vacture-filter>
        </div>
        <div class="text-center col-lg-7">
            <div *ngIf="loadingFilter" #vacaturewrapper>
                <ng-container *ngFor="let vacature of pageOfItems">
                    <ng-container *ngIf="vacature.vacature.description != null">
                        <app-vacture-item [showTrashcan]="false"
                            [showLike]="(currentUser && currentUser.role === 'User')" [favorite]="vacature"
                            (removeEvent)="removeEventAbstract($event)" [currentUser]="currentUser"></app-vacture-item>
                    </ng-container>
                </ng-container>
                <div class="paging-center">
                    <app-paging [items]="items" (changePage)="onChangePage($event)"></app-paging>
                </div>
            </div>
            <div *ngIf="!loadingFilter && !loading" class="alert alert-danger" role="alert">
                <p class="removeMarginbottom">{{"vacatures.error" | translate}}</p>
            </div>

            <div *ngIf="loading" class="loader">
                <img src="../../assets/images/loading.gif" alt="loading ..." class="loadspinner" />
            </div>
        </div>
    </div>
</div>