<div id="sliding-popup" class="sliding-popup-bottom" *ngIf="show">
  <div class="popup-content info">
    <div id="popup-text">
      <p class="removeMarginbottom">
        {{"cookie.cookiegebruik" | translate}}<a routerLink="/policy" routerLinkActive="True" class="hyperlink">{{"cookie.cookiegebruik2" | translate}}</a>
      </p>
    </div>
    <div id="popup-buttons">
      <button type="button" class="agree-button eu-cookie-compliance-secondary-button btn-primary" (click)="btnClick(true)">{{"cookie.akkoord" | translate}}</button>
      <button type="button" class="decline-button eu-cookie-compliance-default-button btn-primary" (click)="btnClick(false)">{{"cookie.negeer" | translate}}</button>
    </div>
  </div>
</div>