<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="card">
        <div class="card-header">
          <h3>{{"react.titel" | translate}}
            {{company.companyName}}
          </h3>
        </div>
        <div class="card-body">
          <form
            class="form"
            [formGroup]="uploadVacForm"
            (ngSubmit)="onSubmit(uploadVacForm)"
          >
            <div class="form-group">
              <mat-form-field class="example-full-width">
                <mat-label>{{"react.titelvac" | translate}}</mat-label>
                <input matInput type="text"  [formControl]="titel"
                [(ngModel)]="titleValue" />
                <mat-error *ngIf="titel.invalid">{{
                  getErrorMessageTitel()
                }}</mat-error>
              </mat-form-field>
            </div>
          
            <div class="form-group">
              <mat-form-field class="example-full-width">
                <mat-label>{{"react.mail" | translate}}</mat-label>
                <input
                  matInput
                  placeholder="test@example.com"
                  [formControl]="email"
                  [(ngModel)]="emailValue"
                />
                <mat-error *ngIf="email.invalid">{{
                  getErrorMessageEmail()
                }}</mat-error>
              </mat-form-field>
            </div>

            <!-- <div class="form-group">
              <mat-form-field class="example-full-width">
                <mat-label>{{"react.bedrijf" | translate}}</mat-label>
                <input matInput [formControl]="bedrijfsnaam" 
                [(ngModel)]="companyValue" />
                <mat-error *ngIf="bedrijfsnaam.invalid">{{
                  getErrorMessageBedrijfsnaam()
                }}</mat-error>
              </mat-form-field>
            </div> -->

            <div class="form-group">
              <mat-form-field class="example-full-width">
                <mat-label>{{"react.stad" | translate}}</mat-label>
                <input
                  type="text"
                  aria-label="Stad"
                  matInput
                  [formControl]="locatieControl"
                  [matAutocomplete]="auto"
                  [(ngModel)]="locatieValue"
                />
                <mat-error *ngIf="locatieControl.invalid">{{
                  getErrorMessageBedrijfsnaam()
                }}</mat-error>
                <mat-autocomplete
                  #auto="matAutocomplete"
                  [displayWith]="displayLocatie"
                  (stedenSelected)="onSelectionChangedLocatie($event)"
                >
                  <mat-option
                    *ngFor="let stad of filteredSteden | async"
                    [value]="stad"
                  >
                    {{ stad.name }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>

            <div class="form-group">
              <mat-form-field
                class="example-full-width"
                hintLabel="Max 300 characters"
              >
                <mat-label>{{"react.beschrijving" | translate}}</mat-label>
                <input
                  matInput
                  [formControl]="beschrijving"
                  #input
                  maxlength="300"
                  [(ngModel)]="descriptionValue"
                />
                <mat-hint align="end"
                  >{{ input.value?.length || 0 }}/300</mat-hint
                >
                <mat-error *ngIf="beschrijving.invalid">{{
                  getErrorMessageBeschrijving()
                }}</mat-error>
                <textarea matInput></textarea>
              </mat-form-field>
            </div>

            <div *ngIf="!uploadFile">
            <div class="form-group">
              <label>{{"react.upload" | translate}}</label>
            </div>
            <!-- <div class="input-group mb-3">
              <div class="custom-file" id="inputlabel">
                <input
                  type="file"
                  class="custom-file-input"
                  id="file"
                  [formControl]="vacatureBestand"
                  accept=".pdf"
                />
                <label class="custom-file-label" for="inputGroupFile01"
                  >{{"react.bestand" | translate}}</label
                >
              </div> 
            </div>-->
            <app-upload (uploadHandler)="handleUpload($event)" ></app-upload>
          </div>
          <div *ngIf="uploadFile">
            <p>{{uploadFile.get('file')}}</p>
            <button (click)="removeFile()" >X</button>
          </div>

            <div class="form-group">
              <app-select-studiegebieden  (handleStudiegebieden)="handleStudiegebieden($event)"></app-select-studiegebieden>
            </div>
            
            <div class="form-group">
              <label>{{"react.type" | translate}}</label>
              <mat-form-field class="example-full-width">
                <mat-label>Selecteer het type vacature</mat-label>
                <mat-select [(ngModel)]="selectValue" matNativeControl [formControl]="typeControl">
                  <mat-option *ngFor="let type of types" [value]="type.name">
                    {{ type.name }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="typeControl.hasError('required')">{{
                  getErrorMessageTypeControl()
                }}</mat-error>
              </mat-form-field>
            </div>

            <div><label>{{"react.zichtbaar" | translate}}</label></div>
            <div class="row">
              <div class="col-xs-12 col-12 col-md-4 form-group">
                <input
                  type="text"
                  placeholder="Selecteer een datum"
                  class="form-control"
                  bsDatepicker
                  [bsConfig]="{
                    dateInputFormat: 'DD/MM/YYYY',
                    containerClass: 'theme-red',
                    selectFromOtherMonth: true
                  }"
                  [formControl]="einddatum"
                  [minDate]="minDate"
                  [maxDate]="maxDate"
                  placement="top"
                  [(ngModel)]="dateValue"
                />
                <mat-error *ngIf="einddatum.hasError('required')">{{
                  getErrorMessageEinddatumControl()
                }}</mat-error>
              </div>
            </div>

            <div class="form-group">
              <button
                type="submit"
                class="btn btn-success"
                (click)="onSubmit()"
              >
              {{"react.verzenden" | translate}}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
