<section id="profiel">
    <div class="container jumbotron ruimte margin">
      <h1>{{"passwordrequest.titel" | translate}}</h1>
      <hr>
      <h3  class="error">{{error}}</h3>
      <form class="simple-form" [formGroup]="emailForm" (ngSubmit)="onSubmit()"> 
        <div class="form-label-group ruimte">
            <label><h5>{{"passwordrequest.email" | translate}}</h5></label>
            <input type="text" class="form-control"
                       formControlName="email"
                       placeholder="Email" required/>
                       <div *ngIf="emailForm.controls['email'].invalid && (emailForm.controls['email'].dirty || emailForm.controls['email'].touched)">
                        <div *ngIf="emailForm.controls['email'].errors.required">{{"passwordrequest.emailreq" | translate}}</div>
                      </div>
          </div>
          <br>
          <div class="ruimtebtn">
            <button class="btn-verzenden" type="submit">{{"passwordrequest.verzenden" | translate}}</button>
          </div>
      </form>
    </div>
</section>