<div class="container">
  <div>
    <h1>Navormingen</h1>
    <div class="field-name-field-body field-type-text-with-summary">
      <p class="intro">Levenslang leren is geëvolueerd van een noodzaak tot alledaagse realiteit. Via een brede waaier van bachelor-na- bacheloropleidingen, verkorte studieroutes, postgraduaten, navormingen en bijscholingen biedt VIVES je de kans om je competenties op zeer gevarieerde domeinen te actualiseren en uit te breiden. Dat kan meteen na je studies of tijdens je professionele loopbaan.</p>
      <p>Zowel voor afgestudeerden als professionals is VIVES een aangename en uitdagende ontmoetingsplaats, een plek van samen leren. Uiteraard verwerf je bij het succesvol afronden, naargelang de aard van de opleiding, steeds een door de overheid erkend diploma, getuigschrift of attest van deelname. Zo kun je je geleverde inspanning steeds valoriseren.</p>
      <p>VIVES is bovendien een door de overheid erkend opleidingsverstrekker, waardoor je als kleine of middelgrote onderneming overheidssteun kunt voor verwerven om personeelsleden opleidingen te laten volgen. Meer info hierover vind je op www.kmo-portefeuille.be. Let wel: de steunaanvraag moet gebeuren binnen de veertien dagen na de start van de opleiding. Voor inschrijvingen die leiden tot een diploma, gelden de algemene inschrijvingsvoorwaarden voor hoger onderwijs. Inschrijvingen voor bijscholingen en navormingen zijn onderhevig aan inschrijvings- en annuleringsvoorwaarden.</p>
    </div>
    
    <h2></h2>
    <h3 class="sg-bio">Studiegebied biotechniek</h3>
    <p>logo van PCLT (met link naar website www.pclt.be, zie logo in bijlage)</p>

    <h3 class="sg-gez">Studiegebied gezondheidszorg</h3>
    <p>navormingen (met link naar website die bijna klaar is, link en logo na te vragen bij gezondheidszorg)</p>

    <h3 class="sg-hwb">Studiegebied handelswetenschappen en bedrijfskunde</h3>
    <p>logo van Brugge Business School (met link naar website www.bruggebusinessschool.be, zie logo in bijlage) <br>
        logo van Kortrijk Business School (met link naar website www.kortrijkbusinessschool.be, zie logo in bijlage)</p>

    <h3 class="sg-iwt">Studiegebied industriële wetenschappen en technologie</h3>
    <p>navormingen (met link naar www.vives.be/bijscholen want dit is voorlopig de enige plaats waar je dit kan vinden aangezien er nog geen aparte website is)</p>
    
    <h3 class="sg-ond">Studiegebied onderwijs</h3>
    <p>navormingen (met link naar www.vives.be/bijscholen want dit is voorlopig de enige plaats waar je dit kan vinden aangezien er nog geen aparte website is)</p>
    
    <h3 class="sg-saw">Studiegebied sociaal-agogisch werk</h3>
    <p>navormingen (met link naar www.vives.be/bijscholen (want voorlopig de enige plaats waar je dit kan vinden aangezien er nog geen aparte website is)</p>
  
  </div>
</div>
