

<div class="container-fluid">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6 bgcolor">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">

              <h1 class="my-4">Navormingen</h1>
              <hr>
                <p class="intro">Levenslang leren is geëvolueerd van een noodzaak tot alledaagse realiteit. Via een brede waaier van bachelor-na- bacheloropleidingen, verkorte studieroutes, postgraduaten, navormingen en bijscholingen biedt VIVES je de kans om je competenties op zeer gevarieerde domeinen te actualiseren en uit te breiden. Dat kan meteen na je studies of tijdens je professionele loopbaan.</p>
                <p>Zowel voor afgestudeerden als professionals is VIVES een aangename en uitdagende ontmoetingsplaats, een plek van samen leren. Uiteraard verwerf je bij het succesvol afronden, naargelang de aard van de opleiding, steeds een door de overheid erkend diploma, getuigschrift of attest van deelname. Zo kun je je geleverde inspanning steeds valoriseren.</p>
                <p>VIVES is bovendien een door de overheid erkend opleidingsverstrekker, waardoor je als kleine of middelgrote onderneming overheidssteun kunt voor verwerven om personeelsleden opleidingen te laten volgen. Meer info hierover vind je op www.kmo-portefeuille.be. Let wel: de steunaanvraag moet gebeuren binnen de veertien dagen na de start van de opleiding. Voor inschrijvingen die leiden tot een diploma, gelden de algemene inschrijvingsvoorwaarden voor hoger onderwijs. Inschrijvingen voor bijscholingen en navormingen zijn onderhevig aan inschrijvings- en annuleringsvoorwaarden.</p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">

  <div class="row">
    <div class="col-md-7">
      <a href="https://www.pclt.be/" target="_blank">
        <img class="img-fluid rounded mb-3 mb-md-0" src="../../assets/images/pclt.jpg" alt="">
      </a>
    </div>
    <div class="col-md-5">
      <h3>Studiegebied biotechniek:</h3>
      <p>PCLT, uw partner voor opleidingen in de land- en tuinbouw, industrie en voedingsindustrie!
        Het Praktijkcentrum voor land- en tuinbouw uit Roeselare specialiseert zich in opleidingen voor de para-agrarische sector.</p>
      <a class="btn btn-primary" href="https://www.pclt.be/" target="_blank">Meer info</a>
    </div>
  </div>

  <hr>

      <div class="row">
        <div class="col-md-7">
          <a href="https://www.vives.be/nl/opleidingen/gezondheidszorg" target="_blank">
            <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/700x200" alt="">
          </a>
        </div>
        <div class="col-md-5">
          <h3>Studiegebied gezondheidszorg:</h3>
          <p>Wij bieden een ruime waaier aan kwalitatieve professionele opleidingen binnen de zorg- en welzijnssector op het niveau van bachelor, brugopleiding en graduaat alsook een ruim studieaanbod voor wie verder wil studeren.</p>
          <a class="btn btn-primary" href="https://www.vives.be/nl/opleidingen/gezondheidszorg" target="_blank">Meer info</a>
        </div>
      </div>

      <hr>

    <div class="row">
      <div class="col-md-7">
        <a href="https://www.kortrijkbusinessschool.be/" target="_blank">
          <img class="img-fluid rounded mb-3 mb-md-0" src="../../assets/images/vivesbusiness1.jpg" alt="">
        </a>
      </div>
      <div class="col-md-5">
        <h3>Studiegebied handelswetenschappen en bedrijfskunde (Kortrijk):</h3>
        <p>Dit studiegebied van hogeschool VIVES is een van de drie oudste business schools van het land.
         Al bijna tachtig jaar lang leiden we hier in het zuiden van West-Vlaanderen jonge mensen op om het beste uit zichzelf te halen.
        </p>
        <a class="btn btn-primary" href="https://www.kortrijkbusinessschool.be/" target="_blank">Meer info</a>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-7">
        <a href="https://www.bruggebusinessschool.be/nl/home" target="_blank">
          <img class="img-fluid rounded mb-3 mb-md-0" src="../../assets/images/vivesbusinessbrugge1.jpg" alt="">
        </a>
      </div>
      <div class="col-md-5">
        <h3>Studiegebied handelswetenschappen en bedrijfskunde (Brugge):</h3>
        <p>Voltijds werken en studeren combineren? Het kan! Dankzij onze opleidingen op maat van de professional.
          VIVES/Brugge Business School organiseert kwalitatieve opleidingen voor professionals</p>
        <a class="btn btn-primary" href="https://www.bruggebusinessschool.be/nl/home" target="_blank">Meer info</a>
      </div>
    </div>

    <hr>
    <br>

    <div class="row">
      <div class="col-md-12">
        <h3>Studiegebied industriële wetenschappen en technologie | Studiegebied onderwijs | Studiegebied sociaal-agogisch werk</h3>
        <p>Zowel voor afgestudeerden als professionals is VIVES een aangename en uitdagende ontmoetingsplaats, een plek van samen leren. Uiteraard verwerf je bij het succesvol afronden, naargelang de aard van de opleiding, steeds een door de overheid erkend diploma, getuigschrift of attest van deelname. Zo kun je je geleverde inspanning steeds valoriseren.</p>
        <a class="btn btn-primary" href="https://www.vives.be/nl/bijscholen/overzicht" target="_blank">Meer info</a>
      </div>
    </div>
    
    <br>
</div>
