.margin
{
    margin-top: 50px;
    margin-bottom: 50px;
}

h1{
    margin-bottom: 50px;
}

.loader{
    height:100%;
    padding-top: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.loadspinner{
    width: 100px;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.example-container {
  height: 400px;
  overflow: auto;
}

.mat-checkbox mat-accent mat-checkbox-checked {
  background-color: red;
}