.margin
{
    margin-top: 150px;
    margin-bottom: 50px;
}

h1{
    margin-bottom: 50px;
}

.loader{
    height:100%;
    padding-top: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.loadspinner{
    width: 100px;
}