<!-- <div class="margin container">
    <h1>Verifiëer nieuwe bedrijfsaccounts</h1>
    <app-company-item *ngFor="let company of companies" [company]="company"  (removeEvent)="removeEvent($event)" ></app-company-item>
    <div *ngIf="loading" class="loader">
        <img src="../../assets/images/loading.gif" alt="loading ..." class="loadspinner"/>
    </div>
    <div *ngIf="error && !loading" class="alert alert-danger" role="alert">
        <p class="removeMarginbottom">Er zijn geen bedrijven om te verifieëren.</p>
    </div>
</div>   -->



<app-unverified-table></app-unverified-table> 

