<div class="container">
    <div *ngIf="offerList">
      <app-vacture-item [showLike]="true" *ngFor="let vacature of offerList" [favorite]="vacature" (removeFavoriteEvent)="removeEvent($event)"   [currentUser]="currentUser" ></app-vacture-item>
      <div *ngIf="loading" class="loader">
        <img src="../../assets/images/loading.gif" alt="loading ..." class="loadspinner"/>
      </div>
      <div *ngIf="error && !loading" class="alert alert-danger" role="alert">
          <p class="removeMarginbottom">Er zijn geen vacatures als favoriet gemarkeerd. </p>
      </div>
        
    </div>
</div>