.icon{
    margin-top: 17px;
    margin-left: 9px;
}

.label{
    background: #E50001;
    padding: 5px;
    margin-right: 5px;
    font-weight: unset;
}

.rood
{
    color:#E50001;
    transition: transform 0.2s;
}
.rood:hover{
    transform:scale(1.02);
}
.link-vacature-detail{
    text-decoration:none;
}

.section{
    margin-left: 10px;
}

.item{
    margin-bottom: 7px;
}

.icon{
    color: #E50001;
}

.likeVacature{
    cursor: pointer;
}

.vacatureItem{
    text-align: left;
}