<section id="profiellabel">
  <div class="container jumbotron ruimte" *ngIf="profiel != null">
    <h1 class="rood">{{"profiel.profiel" | translate}}</h1>
    <hr>
    <!-- Alle velden van student -->
    <div class="row ruimte" *ngIf="isStudent">
      <div class="col-md-6 mb-3">
        <label>
          <h5>{{"register.voornaam" | translate}}</h5>
        </label>
        <div><label>{{profiel.firstName}}</label></div>
      </div>
      <div class="col-md-6 mb-3">
        <label>
          <h5>{{"register.famnaam" | translate}}</h5>
        </label>
        <div><label>{{profiel.name}}</label></div>
      </div>
    </div>
    <!-- Alle velden van bedrijf -->
    <div *ngIf="!isStudent">
      <div class="form-label-group ruimte">
        <label>
          <h5>{{"register.companyName" | translate}}</h5>
        </label>
        <div><label>{{profiel.companyName}}</label></div>
      </div>
      <div class="form-label-group ruimte" *ngIf="profiel.url != ''">
        <label>
          <h5>{{"register.website" | translate}}</h5>
        </label>
        <div><label>{{profiel.url}}</label></div>
      </div>
      <div class="row ruimte">

        <div class="col-md-6 mb-3" *ngIf="profiel.city !=null">
          <label>
            <h5>{{"register.stad" | translate}}</h5>
          </label>
          <div><label>{{profiel.city}}</label></div>
        </div>
      </div>
      <div class="form-label-group ruimte" *ngIf="profiel.address !=null">
        <label>
          <h5>{{"register.adres" | translate}}</h5>
        </label>
        <div><label>{{profiel.address}}</label></div>
      </div>
    </div>

    <!-- Alle gemeenschappelijke velden -->
    <!-- Verplichte velden -->
    <div class="form-label-group">
      <label>
        <h5>{{"register.email" | translate}}</h5>
      </label>
      <div><label>{{profiel.email}}</label></div>
    </div>

    <div *ngIf="isStudent">
      <div *ngIf="!uploadFile">
        <div class="form-label-group ruimte">
          <label><h5>{{"react.upload" | translate}}</h5></label>
        </div>
        <app-upload (uploadHandler)="handleUpload($event)"></app-upload>
      </div>
      <div *ngIf="uploadFile">
        <p>{{uploadFile}}</p>
        <button (click)="removeFile()">Remove</button>
      </div>
    </div>
    <div class="ruimtebtn">
      <a class="btn btn-primary" routerLink="/profiel-bewerken" role="button">Aanpassen</a>
    </div>
  </div>
  <div *ngIf="loading" class="loader">
    <img src="../../assets/images/loading.gif" alt="loading ..." class="loadspinner" />
  </div>
</section>