<section id="profiellabel">
  <div class="container jumbotron ruimte">
    <h1 class="rood">Profiel</h1>
    <hr>

    <div class="row ruimte">
        <div class="col-md-6 mb-3">
          <label for="inputNaam"><h5>Naam</h5></label>
          <div><label>Wannes</label></div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="inputFamilienaam"><h5>Familienaam</h5></label>
          <div><label>Vanneste</label></div>
        </div>
    </div>

    <div class="form-label-group ruimte">
      <label for="inputBedrijfsnaam"><h5>Bedrijfsnaam</h5></label>
      <div><label>Wannelle inc.</label></div>
    </div>

    <div class="form-label-group ruimte">
      <label for="inputEmail"><h5>E-mailadres</h5></label>
      <div><label>wannes_vanneste@hotmail.com</label></div>
    </div>

    <div class="row ruimte">
      <div class="col-md-6 mb-3">
          <label for="inputStad"><h5>Stad</h5></label>
          <div><label>Geluwe</label></div>
      </div>
      <div class="col-md-6 mb-3">
          <label for="inputPostcode"><h5>Postcode</h5></label>
          <div><label>8940</label></div>
      </div>
    </div>  
    

    <div class="form-label-group ruimte">
      <label for="inputStraat"><h5>Straat + nr</h5></label>
      <div><label>Beselarestraat 68</label></div>
    </div>

    <div class="ruimtebtn">
      <a class="btn btn-primary" href="#" role="button">Aanpassen</a>
    </div>
  </div>
</section>

