
      <!-- Free Tier -->
      <div class="card mb-5 mb-lg-0">
        <div class="card-body">
          <h5 class="card-title text-muted text-uppercase">Filter:</h5>
          <hr>
          <div id="list1" class="dropdown-check-list" tabindex="100">

                <ul *ngFor="let gebied of studiegebied">
                  <li (click)="onSelect(gebied)">
                    <input class="input" type="checkbox" value="{{gebied}}" (change)="checkboxHandler($event)" name="studieGebiedVives" [checked]="false" />
                    {{gebied}}
                    <div *ngIf="d[gebied]">
                           <ul *ngFor="let op of d[gebied]" >
                            <li>
                              <input class="input" type="checkbox" value="{{op}}"  [checked]="false" />
                              {{op}}
                              </li>
                          </ul>
                    </div>

                      
                  </li>
                </ul>
                   
      </div>
    <div class="text-center">
          <a href="#" class="btn btn-primary" ng-click="get_all_checked">Filter toepassen</a>
    </div>
  </div>
</div>
