ul li {
    list-style: none;
}

.input{
    margin-right: 5px;
}

.btn-primary
{
    box-shadow: none;
    padding: 5px 50px;
    border: none;
    border-radius: 40px;
    background: #E50001;
    transition: transform .2s;
}

.btn-primary:hover, .btn-primary:focus
{
    transform: scale(1.1);
}

.filterContainer{
    display: initial;
}

.icon{
    position: absolute;
    margin-left: 10px;
}

.l{
    display: block;
    width: 100%;
}

.filterContainer{
    display: inline-flex;
}

.filterContainer.filterStudiegebied{
    cursor: pointer;
}
.filterbody{
    min-height: 450px;
}
.filterTekst{
    margin:0;
    display: inline-flex;
}
.filterverwijderenwrapper{
    margin-bottom: 15px;
}
.filterIcon{
    width:25px;
    margin-left: 0;
    position: relative;
}