
      <!-- Free Tier -->
      <div>
<div class="card mb-5 mb-lg-0">
    <div class="card-body">
      <h5 class="card-title text-muted text-uppercase">Filter:</h5>
        <hr>
        <div id="list1" class="dropdown-check-list" tabindex="100"></div>

      <ul class="row"><h6>STUDIEGEBIEDEN:</h6>  
            <div *ngFor="let gebied of studiegebieds" class="l">
                <li>
                    <input class="input" type="checkbox" value="{{gebied.id}}" (change)="checkboxHandler($event)" name="studieGebiedVives" [checked]="false" /> 
                    <div class="filterContainer" (click)="onSelectStudie(gebied.id)">
                              
                         {{gebied.naam}}
                        <i  class="material-icons icon">arrow_drop_down</i>
                     </div>
                        <div *ngIf="s[gebied.id]">
                          <ul *ngFor="let op of s[gebied.id]" >
                           <li>
                             <input class="input" type="checkbox" (change)="checkboxHandler($event)" value="{{op.naam}}"  [checked]="false" />
                             <div class="filterContainer" (click)="onSelectOpleiding(op.id)">
                                  {{op.naam}}
                                  <i  class="material-icons icon">arrow_drop_down</i>
                             </div>
                             <div *ngIf="o[op.id]">
                              <ul *ngFor="let af of o[op.id]">
                                <li>
                                <div class="filterContainer" (click)="onSelectAfstudeerrichting(af.id)">
                                   <input class="input" type="checkbox" value="{{af.naam}}" (change)="checkboxHandler($event)"  [checked]="false" />
                                  {{af.naam}}
                                  <i  class="material-icons icon">arrow_drop_down</i>
                                </div>
                                <div *ngIf="k[af.id]">
                                  <ul *ngFor="let k of k[af.id]">
                                    <li>
                                      <div class="filterContainer">
                                        <input class="input" type="checkbox" value="{{k.naam}}"  [checked]="false" />
                                        {{k.naam}}
                                      </div>
                                    </li>
                                  </ul>
  
                                  </div>

                                </li>
                              </ul> 
                             </div>
                             </li>
                         </ul>
                   </div>
                </li>
            </div>
                  

        </ul> 
                   
      </div>
    <div class="text-center">
          <a href="#" class="btn btn-primary" ng-click="get_all_checked">Filter toepassen</a>
    </div>
  </div>
</div>
