<div class="container-fluid">
    <div class="row no-gutter">
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
      <div class="col-md-8 col-lg-6">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto">
                <img class="mb-4" src="../../assets/images/vives_logo.png">
                <div *ngIf="error" class="alert alert-danger">{{error}}</div>
                <h3 class="login-heading mb-4">Maak een account aan!</h3>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                  <div class="form-label-group margin">
                    <input type="text" formControlName="firstName" class="form-control" placeholder="Voornaam" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                      <div *ngIf="f.firstName.errors.required">First Name is required</div>
                    </div>
                  </div>
                  
                  <div class="form-label-group margin">
                    <input type="text" ormControlName="lastName" class="form-control" placeholder="Familienaam" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                      <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                    </div>
                  </div>


                  <div class="form-label-group margin">
                    <input type="text" ormControlName="CompanyName" class="form-control" placeholder="Bedrijfsnaam" [ngClass]="{ 'is-invalid': submitted && f.CompanyName.errors }" />
                    <div *ngIf="submitted && f.CompanyName.errors" class="invalid-feedback">
                      <div *ngIf="f.CompanyName.errors.required">Company Name is required</div>
                    </div>
                  </div>

                  <div class="form-label-group margin">
                    <input type="email" ormControlName="Email" class="form-control" placeholder="Email" [ngClass]="{ 'is-invalid': submitted && f.Email.errors }" />
                    <div *ngIf="submitted && f.Email.errors" class="invalid-feedback">
                      <div *ngIf="f.Email.errors.required">Email is required</div>
                    </div>
                  </div>
  
                  <div class="form-label-group margin">
                    <input type="password" formControlName="password" class="form-control" placeholder="Password"[ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                       <div *ngIf="f.password.errors.required">Password is required</div>
                       <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                    </div>
                  </div>

                  <div class="form-label-group margin">
                    <input type="password" formControlName="password" class="form-control" placeholder="Password"[ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                       <div *ngIf="f.password.errors.required">Password is required</div>
                       <div *ngIf="f.password.errors.minlength">Password must be the same as above</div>
                    </div>
                  </div>
  
                  <!-- <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Registreer</button>
                  <div class="text-center">
                    <a class="small" href="#">Forgot password?</a>
                  </div> -->

                  <div class="form-group">
                    <button [disabled]="loading" class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Register
                    </button>
                    <a routerLink="/login" class="btn btn-link">Cancel</a>
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <!-- <div *ngIf="error" class="alert alert-danger">{{error}}</div>
  <h2>Register</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
          <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
              <div *ngIf="f.firstName.errors.required">First Name is required</div>
          </div>
      </div>
      <div class="form-group">
          <label for="lastName">Last Name</label>
          <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
          <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
              <div *ngIf="f.lastName.errors.required">Last Name is required</div>
          </div>
      </div>
      <div class="form-group">
          <label for="username">Username</label>
          <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
              <div *ngIf="f.username.errors.required">Username is required</div>
          </div>
      </div>
      <div class="form-group">
          <label for="password">Password</label>
          <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is required</div>
              <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
          </div>
      </div>
      <div class="form-group">
          <button [disabled]="loading" class="btn btn-primary">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Register
          </button>
          <a routerLink="/login" class="btn btn-link">Cancel</a>
      </div>
  </form> -->