<div class="container">
    <div class="row">
      <div class="col-md-9 col-lg-8 mx-auto">

        <h1 class="my-4">Privacyverklaring</h1>
        <hr>
          <p class="intro">Hogeschool VIVES respecteert de privacy van bezoekers, studenten, medewerkers en relaties, die betrokkenen zijn bij het onderwijs en onderzoek van VIVES en de diensten die VIVES levert. VIVES verwerkt uitsluitend persoonsgegevens voor zover die noodzakelijk zijn voor de goede vervulling van de taken als Vlaamse instelling voor hoger onderwijs.</p>
          <p>VIVES verstrekt geen persoonsgegevens aan derden, tenzij de wetgever dit vereist of tenzij de persoon van wie de gegevens verwerkt worden hier zelf toestemming voor verleent. Als VIVES bij de uitvoering van taken gebruik maakt van externe dienstverleners, verlangt VIVES van deze externe dienstverleners c.q. verwerkers dat deze zich in gelijke mate houden aan het wettelijk kader inzake de bescherming van persoonsgegevens.</p>
          <p>VIVES draagt zorg voor een goede beveiliging van alle persoonsgegevens door het treffen van geschikte technische en organisatorische maatregelen. </p>
        
          <h3>Ons gebruik van verzamelde gegevens</h3>
          <p class="intro">Gebruik van onze diensten</p>
          <p>  Wanneer je je aanmeldt voor een activiteit (vorming, lezing, infosessie, netwerkevent, etc.) vragen we je om persoonsgegevens te verstrekken. Deze gegevens worden gebruikt om de activiteit uit te kunnen voeren. De gegevens worden opgeslagen op eigen beveiligde servers van VIVES of die van een derde partij.</p>

          <p class="intro">Cookies</p>
          <p>Deze website maakt gebruik van “cookies” (kleine bestanden die op jouw computer worden geplaatst) om de website te helpen analyseren hoe gebruikers de site gebruiken. De door het cookie gegenereerde informatie over jouw gebruik van de website kan worden overgebracht naar eigen beveiligde servers van VIVES of die van een derde partij. Wij gebruiken deze informatie om bij te houden hoe je de website gebruikt, om rapporten over de website-activiteit op te stellen en andere diensten aan te bieden met betrekking tot website-activiteit en internetgebruik.</p>

          <p class="intro">Derden</p>
          <p>Persoonsgegevens worden niet met derden gedeeld. Onze medewerkers zijn verplicht om de vertrouwelijkheid van jouw gegevens te respecteren.</p>

          <p class="intro">Aanpassen/uitschrijven communicatie</p>
          <p>Als je jouw gegevens aan wilt passen of jezelf uit onze bestanden wilt laten halen, kun je contact met ons op nemen. Dat kan via onderstaande contactgegevens.</p>

          <p class="intro">Cookies uitzetten</p>
          <p>De meeste browsers zijn standaard ingesteld om cookies te accepteren, maar je kunt jouw browser opnieuw instellen om alle cookies te weigeren of om aan te geven wanneer een cookie wordt verzonden. Het is echter mogelijk dat sommige functies en diensten, op onze en andere websites, niet correct functioneren als cookies zijn uitgeschakeld in je browser.</p>

          <h3>Wijze waarop je je rechten kunt uitoefenen</h3>
          <p>Voor de uitoefening van één van je rechten kun je een verzoek indienen via het <span><a href="https://www.vives.be/nl/activiteiten/aanvraagformulier-uitoefening-rechten-verband-met-persoonsgegevens" target="_blank" class="link">aanvraagformulier uitoefening rechten in verband met persoonsgegevens</a></span>. Identificeer je hierbij voldoende duidelijk en preciseer zoveel als mogelijk op welke gegevens of welke specifieke verwerkingsactiviteiten jouw verzoek betrekking heeft.</p>

          <h3>Vragen en feedback</h3>
          <p>informatieveiligheid@vives.be</p>

      </div>
    </div>
  </div>
  
  
  
  
  
  

  
  
  
  
  
  

  